@use '../../../../styles/variables' as variables
@use '../../../../styles/animations' as animations

.section-home-wrapper
  margin-top: variables.$headerHeight
  background-color: variables.$ivory
  overflow: hidden

.section-home-wrapper::before
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 100%
  min-height: 100vh
  background-image: url('/images/golden_background_2.jpg')
  opacity: 0.6
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.section-home-left
  @include animations.slideFromLeft
  min-height: calc(100vh - variables.$headerHeight)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  left: -100px
  opacity: 0

.section-home-left img
  max-width: 40%
  height: auto
  opacity: 0.40

.section-home-left h1, h2
  font-family: variables.$headerFont
  background: linear-gradient(90deg, variables.$gold, variables.$darkGold)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2)

.section-home-left h1
  font-size: 2.7em

.section-home-left h2
  font-size: 1.7em
  text-transform: uppercase
  letter-spacing: 3px

.section-home-left button
  @include variables.animatedButton

.section-home-left button:hover
  @include animations.gradientTextAnimation
  @include variables.animatedButtonHover

.section-home-left button:active
  @include variables.animatedButtonActive

.section-home-right
  display: flex
  justify-content: center
  align-items: end
  position: relative
  right: -100px
  opacity: 0
  @include animations.slideFromRight

.section-home-right img
  max-height: calc(100vh - variables.$headerHeight)
  max-width: 100%
