<!-- TODO: better resolution logo -->
<!-- TODO: better avatar image -->
<section class="section-home-wrapper">
  <div class="container">
    <div class="row">
      <div class="section-home-left col-lg-6">
        <img src="/images/logo_no_background.png" alt="Logo">
        <h1 class="section-home-header1">Katrin Phibrows</h1>
        <h2 class="section-home-header2">microblading</h2>
        <div class="section-home-buttons">
          <a href="/kontakt"><button class="btn m-1">OBJEDNEJ SE</button></a>
        </div>
      </div>
      <div class="section-home-right col-lg-6">
        <div class="d-none d-lg-block">
          <img src="/images/katka-no-background-enhanced.png" alt="Kateřina Nováková foto">
        </div>
      </div>
    </div>
  </div>
</section>
