@use '../../../../styles/variables' as variables
@use '../../../../styles/animations' as animations

app-service-highlight
  @include variables.preparedForSlideFromBottom
  cursor: pointer

app-service-highlight.visible
  @include animations.slideFromBottom

.service-list
  display: flex
  flex-direction: column
  align-items: center

.service-list-buttons
  @include variables.preparedForSlideFromBottom
  display: flex
  justify-content: center
  margin-top: 20px

.service-list-buttons.visible
  @include animations.slideFromBottom

.service-list-buttons button
  @include variables.animatedButton

.service-list-buttons button:hover
  @include animations.gradientTextAnimation
  @include variables.animatedButtonHover

.service-list-buttons button:active
  @include variables.animatedButtonActive


