@use '../../../../styles/variables' as variables

:host
  width: 100%
  border: none

.card
  background-color: variables.$white

.card .card-title
  font-size: 2em
  text-transform: uppercase
  letter-spacing: -1px
  font-weight: 600
  font-family: variables.$headerFont

.card .card-text
  font-size: 1.4em
  font-weight: 150
  font-family: variables.$textFont

.card:hover
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2)
  transform: scale(1.005)
  transition: transform 0.1s ease-in-out

.card:active
  transform: scale(1)
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
