@use '../../../styles/variables' as variables

#app-navbar
  background-color: variables.$darkGray
  box-shadow: 0 1px 10px variables.$darkGray

.navbar-brand > h1
  font-family: variables.$logoFont
  margin-bottom: 0
  font-size: 2em
  color: variables.$gold

.nav-item
  margin-right: 5px

.nav-link
  font-size: 1.8em
  color: variables.$ivory
  letter-spacing: 3px

.nav-link.active
  color: variables.$gold

.social-media-links > a
  font-size: 1.8em
  color: variables.$ivory
  margin-right: 15px

.navbar-nav > li:hover > a, .social-media-links > a:hover
  color: variables.$gold
