@use '../../../styles/variables' as variables

#app-navbar
  background-color: variables.$darkGray

.navbar-nav > li > a
  font-size: 25px
  color: variables.$ivory
  letter-spacing: 3px

.social-media-links > a
  font-size: 30px
  color: variables.$ivory
  margin: 25px 15px 25px 0

.navbar-nav > li:hover > a, .social-media-links > a:hover
  color: variables.$gold
