/* COLORS PALETTE */
/* neutral colors */
$beige: #F5F5DC // for background, to be soft and minimalistic
$ivory: #FFFFF0 // for basic textures and lighter areas

/* accent colors */
$gold: #D4AF37 // a reference to luxury and precision, use it on buttons, headings or icons
$darkGold: #806820
$pinkBrown: #C89FA3 // subtle, friendly and aesthetically pleasing, ideal for underlining certain parts of the content

/* darker contrasting tones */
$darkGray: #333333 // for text and navigation
$anthracite: #555555 // for subtler undertones and contrasts

/* FONTS */
$headerFont: 'Playfair Display', serif
$textFont: 'Open Sans', serif
$additionalFont: Montserrat, serif

/* WEBSITE-WIDE VALUES */
$headerHeight: 79px
