/* COLORS PALETTE */
/* neutral colors */
$white: #FFFFFF
$beige: #F5F5DC // for background, to be soft and minimalistic
$ivory: #FFFFF0 // for basic textures and lighter areas
$transparent: #0000

/* accent colors */
$gold: #D4AF37 // a reference to luxury and precision, use it on buttons, headings or icons
$darkGold: #806820
$pinkBrown: #C89FA3 // subtle, friendly and aesthetically pleasing, ideal for underlining certain parts of the content

/* darker contrasting tones */
$darkGray: #333333 // for text and navigation
$anthracite: #555555 // for subtler undertones and contrasts

/* FONTS */
$logoFont: 'Birthstone', sans-serif
$headerFont: 'OpenSans', serif
$textFont: 'OpenSans', serif
$additionalFont: Montserrat, serif

/* WEBSITE-WIDE VALUES */
$headerHeight: 79px

@font-face
  font-family: 'Birthstone'
  src: url('/assets/fonts/Birthstone-Regular.ttf') format('truetype')

@font-face
  font-family: 'OpenSans'
  src: url('/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype'), url('/assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype')

/* MIXINS */
@mixin sectionHeader
  font-family: $headerFont
  color: $darkGray
  text-align: center
  font-size: 3.5em
  margin-bottom: 20px
  letter-spacing: 8px

@mixin preparedForSlideFromBottom
  opacity: 0
  position: relative
  top: 100px

@mixin animatedButton
  font-family: $textFont
  font-size: 1.5em
  font-weight: 600
  text-transform: uppercase
  letter-spacing: 2px
  color: $ivory
  border: none
  padding: 10px
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
  background: linear-gradient(90deg, $gold, $darkGold, $gold)
  background-size: 300%

@mixin animatedButtonHover
  background-position: right
  transform: scale(1.05)

@mixin animatedButtonActive
  transform: scale(1)
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)

@mixin imageShadow
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
