@use '../../../styles/variables' as variables
@use '../../../styles/animations' as animations

.contact-wrapper
  min-height: calc(100vh - variables.$headerHeight)
  margin-top: variables.$headerHeight
  padding: 20px 0
  background-color: variables.$ivory
  font-family: variables.$textFont
  color: variables.$gold

.contact-slide
  @include variables.preparedForSlideFromBottom

.contact-slide.visible
  @include animations.slideFromBottom

.contact-intro-text
  text-align: center
  font-size: 2.2em
  font-weight: 300
  padding: 20px

.section-contact-left
  display: flex
  justify-content: center
  align-items: center
  padding: 20px 0
  font-size: 1.5em

.contact-info a
  color: variables.$gold
  text-decoration: none

.contact-info a:hover
  color: variables.$anthracite

.section-contact-left fa-icon
  color: variables.$gold

.contact-info fa-icon
  padding-right: 10px

.section-contact-right
  display: flex
  justify-content: center
  align-items: center
  padding: 20px 0

.section-contact-right fa-icon
  padding-right: 40px
  color: variables.$gold
  font-size: 2.2em

.section-contact-right fa-icon:hover
  color: variables.$anthracite

.contact-map-wrapper
  display: flex
  justify-content: center

.contact-map-wrapper > iframe
  width: 1000px
  height: 400px

