<div class="contact-wrapper" [appVisibleClass]="'visible'">
  <div class="container">
<!--    <h1 class="contact-header text-center">Kontakt</h1>-->
    <div class="contact-intro-text">
      <p>Pro rezervaci nebo bližší info mě neváhejte kontaktovat</p>
    </div>
    <div class="contact-content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-contact-left">
              <div class="contact-info">
                <p>
                  <fa-icon [icon]="faUser"></fa-icon>
                  <strong>Ing. Kateřina Nováková</strong>
                </p>
                <p>
                  <fa-icon [icon]="faHouse"></fa-icon>
                  <a href="https://en.mapy.cz/zakladni?source=addr&id=11746163&ds=1&x=16.7699161&y=48.9557216&z=16" target="_blank">
                    <span>Kurdějov 272, 693 01 Kurdějov</span>
                  </a>
                </p>
                <p>
                  <fa-icon [icon]="faPhone"></fa-icon>
                  <a href="tel:+420 123 456 789">+420 123 456 789</a>
                </p>
                <p>
                  <fa-icon [icon]="faAt"></fa-icon>
                  <a href="mailto:katie.nov@seznam.cz">katie.nov&#64;seznam.cz</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 section-contact-right">
            <a href="#"><fa-icon [icon]="faInstagram" size="2x" class="section-contact-link"></fa-icon></a>
            <a href="#"><fa-icon [icon]="faFacebook" size="2x"></fa-icon></a>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-map-wrapper">
      <iframe src="https://en.frame.mapy.cz/s/felafudeze" ></iframe>
    </div>
  </div>
</div>
