<div class="about-wrapper" [appVisibleClass]="'visible'">
  <div class="container">
    <div *ngIf="personalInfo$ | async as personalInfo" class="about-content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 about-left">
            <div *ngFor="let paragraph of personalInfo.text">
              <p>{{ paragraph }}</p>
            </div>
          </div>
          <div class="col-lg-4 about-right">
            <img [src]="personalInfo.image.src" [alt]="personalInfo.image.alt" class="about-image">
          </div>
        </div>
        <div class="about-certificates text-center">
          <h2>Certifikáty</h2>
          <ul>
            <li *ngFor="let certificate of personalInfo.certificates">
              <fa-icon [icon]="faAnglesRight"></fa-icon>
              <a [href]="certificate.link" target="_blank">{{ certificate.certifier }} - {{ certificate.name }}</a>
              <fa-icon [icon]="faAnglesLeft"></fa-icon>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
