<section id="sectionHome" class="section-home-wrapper">
  <div class="section-home-container container">
    <div class="section-home-row row">
      <div class="section-home-left col-lg-6">
        <img src="/images/logo_no_background.png" alt="Logo" style="max-width: 40%; height: auto; opacity: 0.3">
        <h1 class="section-home-header1">katrin phibrows</h1>
        <h2 class="section-home-header2">microblading</h2>
        <div class="section-home-buttons">
          <a href="#sectionServices"><button class="btn btn-dark m-1">Služby</button></a>
          <a href="#sectionContact"><button class="btn btn-dark m-1">Objednej se</button></a>
        </div>
      </div>
      <div class="section-home-right col-lg-6">
        <img src="/images/katka-no-background.png" alt="Kateřina Nováková foto" class="section-home-image">
      </div>
    </div>
  </div>
</section>
