@use '../../../../styles/variables' as variables

.section-about-wrapper
  min-height: calc(100vh - variables.$headerHeight)
  scroll-margin-top: variables.$headerHeight
  padding: 20px 0
  background-color: variables.$ivory

.section-about-header
  font-family: variables.$headerFont

.section-about-image
  max-width: 70%
  height: auto
