<section *ngIf="personalInfo$ | async as personalInfo" class="section-about-wrapper">
  <div class="container">
    <h1 [appVisibleClass]="'visible'">O mě</h1>
    <div class="row">
      <div class="col-lg-6 about-section-left" [appVisibleClass]="'visible'">
        <div *ngFor="let paragraph of personalInfo.text">
          <p>{{ paragraph }}</p>
        </div>
        <div>
          <a href="#">
            <a routerLink="/o-me" routerLinkActive="active"><button class="btn">Více o mě</button></a>
          </a>
        </div>
      </div>
      <div class="col-lg-6 about-section-right" [appVisibleClass]="'visible'">
        <img [src]="personalInfo.image.src" [alt]="personalInfo.image.alt" class="section-about-image">
      </div>
    </div>
  </div>
</section>
