@use '../../../../styles/variables' as variables
@use '../../../../styles/animations' as animations

.price-list-wrapper
  min-height: calc(100vh - variables.$headerHeight)
  margin-top: variables.$headerHeight
  padding: 20px 0
  background-color: variables.$ivory

.price-list-wrapper .container
  @include variables.preparedForSlideFromBottom
  @include animations.slideFromBottom

.price-list-wrapper h1
  @include variables.sectionHeader

.price-list-table-wrapper
  display: flex
  justify-content: center

.price-list-wrapper table
  width: 70%
  border: 3px solid variables.$darkGray
  font-size: 1.5em
  font-family: variables.$textFont

@media only screen and (max-width: 992px)
  .price-list-wrapper table
    width: 100%

.price-list-wrapper table tr:nth-child(even)
  background-color: variables.$beige

.price-list-wrapper table tr:nth-child(odd)
  background-color: variables.$ivory

.price-list-wrapper table td
  padding: 10px
  border: 1px solid variables.$darkGray
